---
// Scrolling marquee banner
---

<div class="marquee">
  <div class="marquee-inner">
    <span class="marquee-text">ADDY & EMMA <span>★</span> ORANGE OREO <span>★</span> EST. 2026 <span>★</span> CITRUS DREAMS <span>★</span></span>
    <span class="marquee-text">ADDY & EMMA <span>★</span> ORANGE OREO <span>★</span> EST. 2026 <span>★</span> CITRUS DREAMS <span>★</span></span>
    <span class="marquee-text">ADDY & EMMA <span>★</span> ORANGE OREO <span>★</span> EST. 2026 <span>★</span> CITRUS DREAMS <span>★</span></span>
    <span class="marquee-text">ADDY & EMMA <span>★</span> ORANGE OREO <span>★</span> EST. 2026 <span>★</span> CITRUS DREAMS <span>★</span></span>
  </div>
</div>
