---
// Poem / lyrics section
---

<section class="statement poem-section">
  <div class="container">
    <div class="poem">
      <div class="verse">
        <p>City breathing and <em>neon dreams</em></p>
        <p>Every crack still shines somehow</p>
        <p>We've been running on almost</p>
        <p>But we're <em>standing here right now</em></p>
      </div>
      <div class="verse">
        <p>Broken clocks and late night calls</p>
        <p>Hearts that learn to <em>bend not break</em></p>
        <p>Every scar a map that says</p>
        <p>We survived, we'll try to stay</p>
      </div>
      <div class="verse">
        <p>We were ghosts in the crowded room</p>
        <p><em>Invisible but still burning bright</em></p>
        <p>The echo of our footsteps sounds</p>
        <p>Like thunder in the night</p>
      </div>
      <div class="verse">
        <p>All the doors they tried to lock</p>
        <p>All the names they try to use</p>
        <p>Look at us <em>still standing</em></p>
        <p>Still refusing how to lose</p>
      </div>
    </div>
  </div>
</section>

<style>
  .poem-section {
    padding: 120px 0;
  }

  .poem {
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
  }

  .verse {
    margin-bottom: 48px;
  }

  .verse:last-child {
    margin-bottom: 0;
  }

  .verse p {
    font-family: var(--font-display);
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: var(--white);
    line-height: 1.4;
    margin: 8px 0;
  }

  .verse em {
    color: var(--amber-glow);
    font-style: normal;
  }
</style>
